.site-card-wrapper {
    padding: 30px;
    background: #ececec;
    margin-top: 2cm;
  }
  .container-mx-auto
  {
    margin-left: 1.3cm;
    margin-top: 2cm;
  }
  .site-card-wrapper {
    padding: 30px;
    background: #ececec;
    margin-top: 10cm;
  }