.board {
  margin: 1rem;
  background: #000000;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
}

.squares {
  background: #ffffff;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}
.pyramid {
    position: relative;
    display: inline-flex;
}
.rounded-circle {
    position: absolute;
}
.pyramid-line{
    position: relative;
}
